/* h1{
    color :blue;
    background-color: blanchedalmond;
} */
#heading{
    color: blue;
    background-color: blanchedalmond;
}
body{
    background-color: azure;
}
button{
    color: rgb(255, 255, 255);
    background-color: blue;

}